<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <!-- Menú bajo Compras → Productos a Cotizar -->
    <menuitem id="menu_productos_cotizar"
        name="Productos a Cotizar"
        action="action_productos_cotizar"
        parent="purchase.menu_procurement_management"
        sequence="15"
        groups="purchase.group_purchase_user"/>

</odoo>
